/* Original:
Firefox Custom Font Size by aireca v1.01
http://forums.mozillazine.org/viewtopic.php?p=12890981&sid=c1ff584176b806003e646227a4fc9a0f#p12890981
This goes in your firefox profile in the `chrome` directory.
*/

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* Window font */
window, page, wizard, prefwindow {
font-size:  10pt !important; }

/* Dialog font */
dialog {
font-size: 10pt !important; }

/* Tabs Toolbar font */
#TabsToolbar{
font-size: 10pt !important;
font-family: "Helvetica Neue" !important;
font-weight: 500 !important;}

/* Tab text font */
.tab-text {
font-size: 10pt !important;
font-family: "Helvetica Neue" !important;
font-weight: 500 !important;}

/* Textbox font */
textbox {
font-size: 10pt !important; }

/* Toolbar font */
toolbar {
font-size: 10pt !important; }

/* Address bar font */
#urlbar {
font-size: 10pt !important; }

/* Personal Titlebar Title font */
#personal-titlebar{
font-size: 10pt !important;}

/* Status bar font */
#status-bar {
font-size: 10pt !important; }

/* Sidebars Font */
#sidebar-box *,
#bookmarksPanel *, #bookmarks-view *,
#history-panel *, #historyTree, sidebarheader {
font-size: 10pt !important; }

/* Trees font */
tree, treechildren {
font-size: 10pt !important; }

/* Buttons font */
button {
font-size: 10pt !important; }

/* Preferences font */
#BrowserPreferences {
font-size: 10pt !important; }


/* About Addons fonts */
.name-container {
font-size:  16pt !important; }
#detail-name-container {
font-size:  20pt !important; }
.detail-view-container {
font-size:  14pt !important; }
.category {
font-size:  11.5pt !important; }

/* Lucas: these are for the 'View in local/production...' bookmarklets on the browser toolbar.
/* Hide the all-tabs button */
#alltabs-button {
  display: none;
}
/* Hide favicons on the bookmarks toolbar */
.bookmark-item > .toolbarbutton-icon {
    display: none !important;
}


/* Lucas: Firefox 57 Tweaks: */
/* Make tab padding smaller to fit more in. */
.tab-content[pinned] {padding-left: 9px !important; padding-right: 9px !important;}
.tab-content:not([pinned]) {padding-left: 5px !important; padding-right: 5px !important;}

/* Lucas Hide TreeStyleTab sidebar header */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none;
}
/* Reduce minimum width of the sidebar */
#sidebar {
  min-width: 100px !important;
}
/* searchbar font size */
#searchbar {
  font-size: 10pt !important;
}
/* searchbar suggestion font size for Firefox ~70+*/
.autocomplete-richlistitem .ac-title {
  font-size: 10pt !important;
}
/* Firefox 72+ fixes to make status and findbar have the same size as the rest of the UI */
.findbar-container {
  font-size: 10pt !important;
}
#statuspanel-label {
  font-size: 10pt !important;
}
