# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#customizing-keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#configuring-with-cson

'atom-text-editor':
  'ctrl-s': 'spell-check:correct-misspelling'
  'ctrl-w': 'editor:toggle-soft-wrap'
  #'cmd-shift-M': 'markdown-preview:toggle'
  'cmd-shift-M': 'markdown-preview-plus:toggle'
  # Switch around the bookmark mappings
  'cmd-f2': 'bookmarks:toggle-bookmark'
  'cmd-shift-f2': 'bookmarks:view-all'
  'cmd-b': 'blame:toggle'
  # The below bindings match my custom MacOS handling of navigating text with the arrow keys. See the ~/Library/KeyBindings/DefaultKeyBinding.dict file for details. Atom overrides the default OS behaviour, so it has to be duplicated here.
  'cmd-right': 'editor:move-to-end-of-word'
  'cmd-left': 'editor:move-to-beginning-of-word'
  'cmd-shift-right': 'editor:select-to-end-of-word'
  'cmd-shift-left': 'editor:select-to-beginning-of-word'
  'alt-right': 'editor:move-to-end-of-screen-line'
  'alt-left': 'editor:move-to-first-character-of-line'
  'alt-shift-right': 'editor:select-to-end-of-line'
  'alt-shift-left': 'editor:select-to-first-character-of-line'
  'cmd-backspace': 'editor:delete-to-beginning-of-word'
  'cmd-delete': 'editor:delete-to-end-of-word'

"atom-text-editor[data-grammar='source gfm']":
  'cmd-shift-K': 'custom:markdown-link'

'atom-workspace':
  'cmd-shift-r': 'window:reload'
  'cmd-o': 'fuzzy-finder:toggle-file-finder'
  'ctrl-l': 'window:toggle-bottom-dock'
  'ctrl-g': 'github:toggle-git-tab'
